@using ECommerceApi.Model
@model List<InvoiceDetail>
@{
    ViewData["Title"] = "OrderDetailView";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<body>
    <div style="margin-bottom:30px;margin-left:89%">
        <a class="btn btn-primary text-white" href="/OrderDetailMvc/Add">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>  Add Product
        </a>
        
    </div>
    <table class="table" id="dataTable">


        <thead id="header">
        <tr>
        <th >
            InvoiceNo
        </th>
        <th>
            OrderId
        </th>
        <th>
            OrderDate
        </th>
        <th>
            CustomerName
        </th>
        <th>
            ContactNumber
        </th>
        <th>
            ProductName
        </th>
        <th>
            price
        </th>
        <th>
            Quanity
        </th>

        <th>
            TotalPrice
        </th>

        <th>
            Action
        </th>
        </tr>
        </thead>

        <tbody>


            @foreach (var item in Model)
            {
                <tr class="nav-item ">
                    <td>
                        @item.InVoiceNo
                    </td>
                    <td>
                        @item.OrderId
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.Contactnumber
                    </td>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.TotalPrice
                    </td>
                    <td>
                        <a class="btn btn-danger text-white" onclick="deleteOrderInvoice(@item.InVoiceNo)">Delete</a>
                    </td>
               </tr>
            }
        </tbody>
        <tfoot>
           

        </tfoot>
    </table>

</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/customer.js"></script>
    <script src="~/js/OrderDetail.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}
