@using System.Security.Claims
@using ECommerceCustomerOrder.Model
@model ECommerceApi.Model.ProductDTO

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Pages/Shared/_CustomerLayout.cshtml";

}



<div>

    @if (User.Identity.IsAuthenticated)
    {

    
        string role =User.Identity.GetClaimRole();

        string Id = User.Identity.GetClaimValue();

        <div class="row">
            <div class="col-md-9" >

                @if (role == "Admin")
                {
                    <div class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                        </svg>

                        @Html.ActionLink("Back To List", "OrderDetailView")
                    </div>
                }
                else
                { <button class="btn btn-warning">
                    <a class="nav-link text-dark" onclick="detailCustomer(@Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                            <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                            <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
                        </svg>   Back to list
                    </a>
                    </button>
                }

             

                <div class="card-body" id="ordercard">
                    <h3 class="col-md-6 offset-3 mt-3">     Registration form </h3>
                    <div id="errormsg" ></div>






                    <div>
                        <div align="center" class="col-md-12">



                            @if (role == "Admin")
                            {
                                <div class="row m-5">
                                    <div class="col-md-6">Customer Name <span id="mandatory"> * </span> </div>
                                    <div class="col-md-6"> @Html.DropDownListFor(m=>m.CustomerId,Model.CustomerList,"Select Name", new {@class="form-control"})</div>
                                </div>
                            }
                            else
                            {
                                <div class="row m-5">
                                    <div class="col-md-6">Customer Name <span id="mandatory"> * </span> </div>
                                    <div class="col-md-6">
                                        @*        { Model.CustomerId = Convert.ToInt32(id); }
                                        @Html.HiddenFor(model => model.CustomerId)*@
                                        @Html.DropDownListFor(model => model.CustomerId,Model.CustomerList  , new { @class="form-control",@disabled="disabled"})
                                    </div>
                                </div>
                            }

                         
                       

                      
                        
                       
                        <div class=" dropdown row m-5">
                            <div class=" col-md-6">Product Name<span id="mandatory"> * </span> </div>

                            <div class="form-group col-md-6"> @Html.DropDownListFor(m=>m.ProductId,Model.ProductList, new {@class="form-control"})</div>

                        </div>
                        <div class="row m-5">
                            <div class="col-md-6">Quanity <span id="mandatory"> * </span></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model=>model.Quantity , new { @class="form-control",type="number",min="1",max="2147483647", required = "required" , maxlength = "20"} )
                            </div>


                        </div>
                        <div class="col-md-4 offset-6">
                            <input id="showProduct" type="button" class="btn btn-danger" value="Add Product" />
                        </div>

                        <div class=" col-md-4 offset-5 m-2">  <input type="submit" id="btnsubmit" class="btn btn-danger" value="Submit" /></div>
                    </div>
                </div>





            </div>


        </div>





        <div class="col-md-3   mt-5">
            <div id="showhideproduct" >
                <table id="productList" class="table" style="display:none;background-color:#ced4da">
                    <tr >
                        <th id="action">Product Name</th>
                        <th id="action">Quanity</th>
                        <th id="action">Action</th>
                    </tr>
                 
                </table>
            </div>
        </div>

    </div>
    }
</div>

@section scripts{
    <script src="~/js/OrderDetail.js"></script>
}



