@using ECommerceApi.Model
@model List<InvoiceDetail>


@{
    ViewData["Title"] = "OrderDetailView";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<body>
    <div class="btn btn-warning " style="margin-bottom:30px;margin-left:90%">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
        </svg>
        @Html.ActionLink("Add Order", "Add")
    </div>
    <table class="table" id="dataTable" >

   
        <thead id="header" >
            <tr>
            <th >
                InvoiceNo
            </th>
        <th >
              OrderId
          </th>
        <th >
            OrderDate
        </th>
        <th >
                CustomerName
            </th>
        <th >
            ContactNumber
        </th>
        <th >
                ProductName
            </th>
        <th >
                price
            </th>
        <th >
                Quanity
            </th>

        <th >
                TotalPrice
            </th>
           
            </tr>
        </thead>

        <tbody>

        
        @foreach (var item in Model)
        {
            <tr class="nav-item ">
                <td >
                    @item.InVoiceNo
                </td>
               <td>
                   @item.OrderId
               </td>
              <td>
                  @item.OrderDate
              </td>
                <td>
                    @item.CustomerName
                </td>
                    <td>
                        @item.Contactnumber
                    </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.TotalPrice
                </td>

               

            </tr>
        }
        </tbody>
        <tfoot>
            <tr>

            </tr>

        </tfoot>
    </table>

</body>








@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/customer.js"></script>

    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}


