@using ECommerceApi.Model
@model List<Orders>

@{
    ViewData["Title"] = "ProductView";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<body >
    <div class="btn btn-warning " style="margin-bottom:30px">
        @Html.ActionLink("Add Order", "Add")
    </div>
<table class="table" >
    <tr  style="background-color:khaki;/*padding:3%;*/ ">
         <td >
             OrderId
         </td>
         <td>
            CustomerId
        </td>
            <td>
            OrderDate
        </td>
         <td style="text-align:center">
            Action
      
        </td>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="nav-item">
            <td>
                @item.OrderId
            </td>
            <td>
                @item.CustomerId
            </td>
       
            <td>
                @item.Orderdate
            </td>
              <td style="text-align:center">
                <a class="btn btn-primary" href="/Ordermvc/Update/@item.OrderId">Edit</a>
          
                <a class="btn btn-danger" @* href="/OrderMvc/Delete/@item.OrderId" *@ onclick="deleteorder(@item.OrderId)">Delete</a>
            </td>
            
        </tr>
    }

  
</table>
</body>

<script>
   function deleteorder(OrderId) {
    let result = confirm("Are you sure you want to delete?");
    if (result) {
        $.ajax({
            type: "get",
            url: '/OrderMvc/Delete?id=' +OrderId,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.success == true) {
                    location.reload();
                }
                else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }
}
</script>